body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  scale: 0.8;
}

#searchType {
  background-color: #1db954;
  color: white;
  border: none;
  width: 25%;
  margin-right: 10px;
  border-radius: 5px;
  padding: 10px 40px 10px 20px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

#searchType::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: white;
}

#searchType:hover {
  background-color: #14833b;
}

.container {
  background: #191414;
  border: 4px solid transparent;
  border-radius: 15px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  text-align: center;
  position: relative;
  background-clip: padding-box;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5),
    0 0 20px 10px rgba(29, 185, 84, 0.6), 0 0 30px 15px rgba(30, 144, 255, 0.4),
    0 0 40px 20px rgba(138, 43, 226, 0.3);
  animation: fadeIn 0.5s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

.container::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: linear-gradient(45deg, #1db954, #1e90ff, #8a2be2);
  border-radius: 15px;
  z-index: -1;
}

.container:hover {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box input {
  flex-grow: 1;

  width: 70%;
  padding: 10px;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
}

.search-box button {
  padding: 10px 20px;
  border-radius: 0 20px 20px 0;
  border: none;
  background-color: #1db954;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-box button:hover {
  background-color: #14833b;
}

.track-info {
  display: none;
  animation: fadeIn 0.5s ease-in-out;
}

.track-info img {
  border-radius: 15px;
  width: 100%;
  max-width: 200px;
  margin: 10px auto;
}

.track-info img:hover {
  animation: shakevigorously 0.5s linear forwards;
}

@keyframes shakevigorously {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.track-info p {
  margin: 10px 0;
}

.button {
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button:active {
  transform: translateY(-1px);
}

.button:hover {
  background-color: #1db954;
}

.hidden {
  display: none;
}

.background {
  --s: 50px;
  --c1: #191414;
  --c2-start: #2a2a2a;
  --c2-mid: #3c3c3c;
  --c2-end: #4e4e4e;

  --_g: var(--c1) 0% 5%, var(--c2-start) 6% 10%, var(--c2-mid) 11% 20%,
    var(--c2-end) 21% 30%, var(--c1) 31% 40%, var(--c2-start) 41% 50%,
    var(--c2-mid) 51% 60%, var(--c2-end) 61% 70%, var(--c1) 71% 80%,
    var(--c2-start) 81% 90%, var(--c1) 91% 100%, #0000 101%;

  background: radial-gradient(50% 50% at 100% 0, var(--_g)),
    radial-gradient(50% 50% at 0 100%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2)
      var(--c1);
  background-size: var(--s) var(--s);
}
